@{
    ViewBag.Title = "Merit Lists";
    Layout = "~/Views/Shared/_layout_Admin.cshtml";
}



<body>
    <h2>Reports & Merit Lists</h2>
    <br />
    <div class="alert alert-danger">
        <h4 class=""><a href="/Admin/CreateReport" style="color: red">  Create Student Admission Report</a></h4>
        <br />

        <h4><a href="/Admin/CreateMeritList" style="color: Red">Create Merit List</a></h4>
    </div>
    <br />
    <div class="alert alert-success">
        <h4>
            <a href="/Admin/StudentReportList" style="color: green"> View Student Admission Report</a>
        </h4><br />

        <h4><a href="/Admin/StudentMeritList" style="color: green">View Merit List</a></h4>
    </div>


    
    

</body>