
@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/_layout_Admin.cshtml";
}

<h2>Creat and Publish Notification Notification</h2>
<form action="/Admin/NotificationForm" method="post">

    
    <div class="row">
        <div class="col-lg-6 text-right"><span class="">@ViewBag.notification</span></div>
        
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4 text-right"><span class="input-sm">Title:</span></div>
        <div class="col-lg-4">
            <input class="form-control input-sm" type="text" name="Title" placeholder="Enter Notification Title Here" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4 text-right"><span class="input-sm">description:</span></div>
        <div class="col-lg-4">
            <textarea class="form-control input-sm span6" rows="3" placeholder="Enter Notification Description Here" name="Description"></textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4 text-right"><span class="input-sm">Priority</span></div>
        <div class="col-lg-4">

            <select class="input-sm form-control" name="priority">
                <option value="Normal" selected>Normal</option>
                <option value="Important">Important</option>
                <option value="Pinned">Pinned</option>
            </select>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-lg-4 text-right"><span class="input-sm">Status:</span></div>
        <div class="col-lg-4">
            <label class="radio-inline"> <input type="radio" name="Status" value="Published" checked />Published </label>
            <label class="radio-inline"> <input type="radio" name="Status" value="Un Published" />Un Published </label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="text-center"><input class="input-lg btn-success " type="submit" name="AdmitBtn" value="Create" /></div>
    </div>





</form>



